
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

temp/
temp/**/*
*.xml
*.png
*.json
test*
Experiment/
experienment*
plugins/**/__pycache__/
benchmarks/temp/
window_dump.xml
agent_time_statistics.json
figure_5_performance.png

.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.env